.body{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: blanchedalmond;

}

.logo {
    width: 20px;
    height: 50px;
}
.nav-links{
display: flex;
}
.nav-links a {
    margin-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.bodycolor{
  background-color: #164666;
}

/* try */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important; }
  
  html, body {
    height: 100%; }
  
  body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden; }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw; }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden; }
    .line::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
      animation: drop 7s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
    .line:nth-child(1) {
      margin-left: -25%; }
      .line:nth-child(1)::after {
        animation-delay: 2s; }
    .line:nth-child(3) {
      margin-left: 25%; }
      .line:nth-child(3)::after {
        animation-delay: 2.5s; }
   */
  /* @keyframes drop { */
    /* / 0% {
      top: -50%; }
    100% {
      top: 110%; 
    } */
  
  /* try end */
    /* Aboutus information card start ........ */
    @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}
/* Some basic CSS overrides */
/* body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #060606;
} */
button, input, select, textarea {
  font: inherit;
}
a {
  color: inherit;
}
/* End basic CSS override */
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  width: 90%;
  max-width: 300px;
  background-color: #1b2028;
  border-radius: 16px;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%);
}
.profile:after {
  content: "";
  display: block;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
}
.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 175px;
  height: 175px;
  position: relative;
}
.profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.profile-username {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
.profile-user-handle {
  color: #7d8396;
}
.profile-actions {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-actions > * {
  margin: 0 0.25rem;
}
.btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  transition: 0.15s ease;
}
.btn--primary {
  border-radius: 99em;
  background-color: #3772ff;
  background-image: linear-gradient(135deg, #5587ff, #3772ff);
  color: #fff;
  padding: 0 1.375em;
}
.btn--primary:hover, .btn--primary:focus {
  background-size: 150%;
}
.btn--icon {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 3px solid #343945;
  color: #7d8396;
}
.btn--icon i {
  font-size: 1.25em;
}
.btn--icon:hover, .btn--icon:focus {
  border-color: #7d8396;
}
.profile-links {
  margin-top: 3.5rem;
}
.link {
  text-decoration: none;
  color: #7d8396;
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}
.link i {
  font-size: 1.25em;
}

    /* About us information card end ......... */

    /* Shopping card start */
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1418 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 20em;
  perspective: 20em;
}
.snip1418 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.snip1418 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.snip1418 .add-to-cart {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0;
  background-color: #409ad5;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.snip1418 .add-to-cart i {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #164666;
  color: #ffffff;
  font-size: 1.4em;
}
.snip1418 figcaption {
  padding: 20px;
}
.snip1418 h3,
.snip1418 p {
  margin: 0;
}
.snip1418 h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.snip1418 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}
.snip1418 .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
}
.snip1418 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.snip1418 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1418:hover .add-to-cart,
.snip1418.hover .add-to-cart {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.snip1418:hover .add-to-cart i,
.snip1418.hover .add-to-cart i {
  background-color: #2980b9;
}
.forshopping{
  display: flex;
  justify-content: space-evenly;
}

    /* Shopping card ends */

    /* About me cards start */
    :root {
      --card-height: 300px;
      --card-width: calc(var(--card-height) / 1.5);
    }
    * {
      box-sizing: border-box;
    }
    /* body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #191c29;
    } */
    .card {
      width: var(--card-width);
      height: var(--card-height);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0 36px;
      perspective: 2500px;
      margin: 0 50px;
    }
    
    .cover-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .wrapper {
      transition: all 0.5s;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
    
    .card:hover .wrapper {
      transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
      box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }
    
    .wrapper::before,
    .wrapper::after {
      content: "";
      opacity: 0;
      width: 100%;
      height: 80px;
      transition: all 0.5s;
      position: absolute;
      left: 0;
    }
    .wrapper::before {
      top: 0;
      height: 100%;
      background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
      );
    }
    .wrapper::after {
      bottom: 0;
      opacity: 1;
      background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
      );
    }
    
    .card:hover .wrapper::before,
    .wrapper::after {
      opacity: 1;
    }
    
    .card:hover .wrapper::after {
      height: 120px;
    }
    .title {
      width: 100%;
      transition: transform 0.5s;
    }
    .card:hover .title {
      transform: translate3d(0%, -50px, 100px);
    }
    
    .character {
      width: 100%;
      opacity: 0;
      transition: all 0.5s;
      position: absolute;
      z-index: -1;
    }
    
    .card:hover .character {
      opacity: 1;
      transform: translate3d(0%, -30%, 100px);
    }
    .aboutmecard{
      display: flex;
      justify-content: space-evenly;
    }
    /* About me cards end */

    /* Cart list start */
    .background {
      background: url('https://images.pexels.com/photos/1095624/pexels-photo-1095624.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')
        center top no-repeat #252746;
      background-size: cover;
      display: block;
      width: 100%;
      height: 1000px;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }
    
    .background-texture {
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#0f0140e6),
        to(rgba(255, 214, 117, 0.9))
      );
      background: linear-gradient(to top, #0f0140e6, rgba(255, 214, 117, 0.9));
      background-size: cover;
      width: 100%;
      height: 1000px;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }
    
    .carousel {
      width: 100%;
      overflow-x: scroll;
      padding: 30px;
      padding-top: 80px;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .carousel__container {
      white-space: nowrap;
      margin: 70px 0px;
      padding-bottom: 10px;
      display: inline-block;
    }
    
    .categories__title {
     color: rgb(77, 55, 102);
      font-size: 28px;
      position: absolute;
      padding-left: 30px;
    }
    
    .carousel-item {
      width: 200px;
      height: 250px;
      border-radius: 20px;
      background-color: #95bcd6;
      overflow: hidden;
      margin-right: 10px;
      margin-top: 70px;
      display: inline-block;
      cursor: pointer;
      -webkit-transition: 1000ms all;
      transition: 1000ms all;
      -webkit-transform-origin: center left;
      transform-origin: center left;
      position: relative;
    }
    
    .carousel-item:hover ~ .carousel-item {
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
    
    .carousel__container:hover .carousel-item {
      opacity: 0.3;
    }
    
    .carousel__container:hover .carousel-item:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 1;
    }
    
    .carousel-item__img {
      width: 200px;
      height: 250px;
      -o-object-fit: cover;
      object-fit: cover;
    }
    
    .carousel-item__details {
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(0, 0, 0, 0.9)),
        to(rgba(0, 0, 0, 0))
      );
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      font-size: 10px;
      opacity: 0;
      -webkit-transition: 450ms opacity;
      transition: 450ms opacity;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .carousel-item__details:hover {
      opacity: 1;
    }
    
    .carousel-item__details span {
      /* width: 10px;
      height: 10px; */
      font-size: 0.9rem;
      color: #2ecc71;
      /* background-color: white; */
    }
    
    .carousel-item__details .controls {
      padding-top: 180px;
    }
    
    .carousel-item__details .carousel-item__details--title,
    .carousel-item__details--subtitle {
      color: #fff;
      margin: 5px 0;
    }
    /* Cart List END ><><><><><><><>><>><><><><><><>><><><><><><> */


    /* FOOTER TRIAL START <><><><><><><><><><><><><><> */
    footer p, footer strong, footer b, footer {
      color: #b0b0b0;
  }
  
  .footer-top {
      background: #303030;
      background-size: cover;
      background-position: center;
      padding: 0 0 20px;
      font-family: rubik;
    padding-top:30px;
    
  }
  
  .footer-top, .footer-bottom {
      background-color: #1c1f2f;
  }
  
  .footer-bottom {
      padding: 15px 0;
      border-top: 1px solid #313646;
      background-color: #181828 !important;
      color: #b0b0b0;
      font-family: rubik;
  }
  color: #99a9b5;
      padding-top: 15px;
  }
  
  .footer-site-info {
      font-size: 92.86%;
  }
  #footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
      color: white;
  }
  
  #footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
      color: #99a9b5;
      padding-top: 15px;
  }
  
  .footer-bottom ul {
      margin: 0;
  }
  .inline-inside {
      font-size: 0;
      line-height: 0;
  }
  .clearfix:after, .clearfix:before {
      content: "";
      display: table;
  }
  #footer-menu li {
      display: inline-block;
      padding: 0 21px;
      position: relative;
      line-height: 1;
  }
  
  #footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
      color: #99a9b5;
      padding-top: 15px;
  }
  
  #footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
      color: #99a9b5;
      padding-top: 15px;
  }
  #footer-menu li+li:before {
      content: '';
      width: 0;
      height: 100%;
      position: absolute;
      left: -1px;
      top: 0;
      font-size: 0;
      border-left: 1px solid #232234;
      border-right: 1px solid #333146;
  }
  
  
  navigation li a, .custom-footer, .custom-footer li a {
      color: #99a9b5;
      padding-top: 15px;
  }
  
  #footer-socials {
      text-align: right;
  }
  
  #footer-socials .socials {
      text-align: right;
      margin: 0 -7px;
      display: inline-block;
      vertical-align: middle;
  }
  
  a.socials-item {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      margin: 0 5px;
      line-height: 16px;
      padding: 10px;
      border-radius: 50%;
      background-color: #141421;
      border: 1px solid #2e2e4c;
      box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
  }
  
  .socials-item i {
      display: inline-block;
      font-weight: normal;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-size: 16px;
      text-align: center;
      vertical-align: top;
      font-feature-settings: normal;
      font-kerning: auto;
      font-language-override: normal;
      font-size-adjust: none;
      font-stretch: normal;
      font-style: normal;
      font-synthesis: weight style;
      font-variant: normal;
      font-weight: normal;
      text-rendering: auto;
  }
  
  .facebook {
      color: #4e64b5;
  }
  
  .twitter {
      color: #00aced;
  }
  .instagram {
      color: #9a8f62;
  }
  .youtube {
      color: #c82929;
  }
  
  .telegram {
      color: #2ca5e0;
  }
  
  
  a.socials-item:hover {
      box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
      border-color: rgba(255, 6, 224, 0.61);
      background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
  }
  
  .footer-bottom a:hover {
      color: white;
  }
  
  
  footer p, footer li {
      font-size: 15px;
      line-height: 22px;
  }
  
  
  .widget {
      margin-bottom: 50px;
  }
  
  .footer-title {
      margin-bottom: 40px;
      color: #fff;
      font-weight: 500;
      text-transform: capitalize;
      padding-bottom: 15px;
      font-size: 16px;
      position: relative;
  }
  
  .footer-title:after {
      width: 50px;
      background: #fff;
      opacity: 0.2;
      height: 1px;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  .gem-contacts-item {
      padding-top: 10px;
      font-size: 15px;
  }
  
  .gem-contacts-item i {
      padding-right: 10px;
  }
  
  footer .widget ul {
      list-style: none;
      margin-top: 5px;
  }
  
  .posts li {
      border-bottom: 1px solid #393d50;
      padding-bottom: 12px;
      padding-top: 6px;
  }
  
  footer p, footer li {
      font-size: 15px;
      line-height: 22px;
  }
  
  .gem-pp-posts-date {
      color: #00bcd4;
      font-size: 89.5%;
  }
  
  footer p {
      line-height: 24px;
      margin-bottom: 10px;font-size: 15px;
  }
  
  .wpcf7-form-control-wrap .wpcf7-form-control {
      padding: 7px!important;
      width: 100%;
  }
  
  .wpcf7-form-control-wrap input {
      background: #1c1f2f;
      overflow: hidden;
      border: 1px solid #2e344d;
      background-color: #1c1f2f;
      box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
      border-radius: 5px;
      transition: all 0.3s ease-in-out 0s;
  }
  
  .wpcf7-form-control-wrap input:hover {
      background-color: transparent;
      box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
      border-color: rgba(255, 255, 255, 0.2);
      color: white;
  }
  
  .wpcf7 .wpcf7-form .contact-form-footer textarea {
      height: 160px;
      width: 100%;
  }
  
  .wpcf7-form-control-wrap textarea:hover {
      background-color: transparent;
      box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
      border-color: rgba(255, 255, 255, 0.2);
      color: white;
  }
  
  .wpcf7-form-control-wrap textarea {
      background: #1c1f2f;
      overflow: hidden;
      border: 1px solid #2e344d;
      background-color: #1c1f2f;
      box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
      border-radius: 5px;
      transition: all 0.3s ease-in-out 0s;
  }
  
  textarea {
      overflow: auto;
      resize: vertical;
  }
  
  .wpcf7 .wpcf7-form .contact-form-footer .wpcf7-submit {
      width: 100%;
      padding: 11px;
      margin: 0;
      line-height: 0;
  }
  .wpcf7-form .contact-form-footer .wpcf7-submit {
      background-color: #394050;
      color: #99a9b5;
      border: none;
      cursor: pointer;
      padding: 15px 40px;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.5s;
      letter-spacing: 2px;
      color: rgba(255,255,255,.5);
      box-shadow: none;
      text-transform: uppercase;
      outline: none !important;
      background-color: #1c1f2f;
      border-radius: 5px;
      min-width: 140px;
      /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
      box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
      border-width: 1px 0px 0px 1px;
      border-style: solid;
      border-color: #2e344d;
      transition: all 0.3s ease-in-out 0s;
  }
  
  .wpcf7-form input[type=submit] {
      height: 40px;
      line-height: 21px;
      padding: 10px 40px;
      font-size: 14px;
  }
  
  .posts li a {
      color: #99a9b5;
  }
  
  .wpcf7-form .contact-form-footer .wpcf7-submit:hover {
      box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
      border-color: rgba(255, 6, 224, 0.61);
      background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
      color: white;
  }
  
  img {
      border-style: none;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
  }
  .widget_gallery a {
      display: inline-block;
  }
  footer .widget ul {
      list-style: none;
      margin-top: 5px;
  }
  .widget_gallery ul {
      padding-left: 0;
      display: table;
  }
  
  .widget_gallery li {
      display: inline-block;
      width: 33.33%;
      float: left;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      padding: 2px;
  }
  
  .widget_gallery.gallery-grid-4 li {
      width: 30%;
  }
  
  
  #waterdrop {
      height: 30px;
  }
  
  #waterdrop canvas {
      bottom: -70px !important;
  }
  
  .footer-site-info
  {
    padding-top: 10px;
  }
  
  .footermove{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  }
  .footermover{
    position: relative;
  }
    /* TRIAL ENDS FOR FOOTER */

    /* UNDER construction work trial start  */
    .marquee {
      position: relative;
      overflow: hidden;
      --offset: 20vw;
      --move-initial: calc(-25% + var(--offset));
      --move-final: calc(-50% + var(--offset));
  }
  
  .marquee__inner {
      width: fit-content;
      display: flex;
      position: relative;
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 5s linear infinite;
      animation-play-state: paused;
  }
  
  .marquee span {
      font-size: 10vw;
      padding: 0 2vw;
  }
  
  .marquee:hover .marquee__inner {
      animation-play-state: running;
  }
  
  @keyframes marquee {
      0% {
          transform: translate3d(var(--move-initial), 0, 0);
      }
  
      100% {
          transform: translate3d(var(--move-final), 0, 0);
      }
  }
    /* UNDER CONSTRUCTION WORK TRIAL ENDS */